.page {
    &.page-about-page {
        
        .page-banner {
            height:560px;
            background:pink;
            margin-bottom:180px;
        }


        .statement {
            margin-bottom:170px;
        }

        .perspective {
            background:green;
            margin-bottom:170px;
        }


        .full-image {
            background:pink;

            img {
                height:453px;
            }
        }

        .journalists {
            background:yellow; 
            margin-bottom:170px;
        }


        .hotspots {
            background:yellow; 
            margin-bottom:100px;

            .hotspot {
                background:red; 
                margin-bottom:95px;
            }

        }

    }
}

