.site-header {
    padding:0;
    max-width:none;

    .site-header-main {
        background:#333333;
        height: 70px;

        @media screen and (max-width: $sm-break){
            padding-top: 0;
        }

        .navbar-right {
            margin-top:25px;
            .section-links ul {
                li {
                    display:inline-block;
                    margin-right:37px;
                    
                    a {
                        font-family: $base-font-family;
                        font-size: rem(14);
                        color:white;
                        letter-spacing: 2.2px;
                    }
                }
                li.menu-item-search {
                    width:40px;
                    a {
                        display:block;
                    }
                }
            }
        }




    }

    .site-header-buffer {
        height:15px;
        background:black;
    }


}