{% set page = _Page.getPageData(slug) %}

{{ set(this, 'title', page.title | raw) }}

<!-- Begin Container -->
<div class="page_section">
    <section class="container-fluid" style="max-width:none">
        <!-- Begin Terms -->
        <div class="content-wrap">
            <!-- <h3 class="sub-heading">{{page.title | raw}}</h3> -->
            <div class="row">
                <div class="col-full">
                    <div class="content_area">
                        {# {{page.content | raw}} #}

                        <div class="row page-banner">

                            <div class="container">
                                <section class="cta">
                                    <div class="col-sm-12">
                                        <h1>The Global Spotlight Project</h1>
                                    </div>
                                </section>
                            </div>
                        </div>

                        <div class="container">

                            <section class="row statement">
                                <div class="col-md-4">
                                    <h2><span>Why we are here</span> latea dictu Vivamus adipiscing ferment</h2>
                                    <figure>
                                        <img class="img-responsive">
                                    </figure>
                                </div>
                                <div class="col-md-8">
                                    <p>
                                        Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper bibendum 
                                        bibendum. Duis tincidunt urna non pretium porta. Nam condimentum vitae ligula vel ornare. 
                                        hasellus at semper turpis. Nunc eu tellus tortor. Etiam at condimentum nisl, Global 
                                        Perspective, Hotspots, Solutions uis nulla commodo
                                    </p>
                                    <p>
                                        aliquam lectus sed, blandit augue. Cras ullamcorper bibendum bibendum. Duis tincidunt 
                                        urna non pretium porta. Nam condimentum vitae ligula vel ornare. Phasellus at semper 
                                        turpis. Nunc eu tellus tortor. Etiam at condimentum nisl, Global Perspective, Hotspots, 
                                        Solutions uis nulla commodo, aliquam lectus sed, blandit 
                                    </p>
                                    <p>
                                        augue. Cras ullamcorper bibendum bibendum. Duis tincidunt urna non pretium porta. 
                                        Nam condimentum vitae ligula vel ornare. Phasellus at semper turpis. Nunc eu tellus 
                                        rtor. Etiam at condimentum nisl, Global Perspective, Hotspots, Solutions
                                    </p>
                                </div>
                            </section>


                            <section class="row perspective">
                                <div class="col-md-4">
                                    <figure>
                                        <img class="img-responsive">
                                    </figure>

                                    <h2 class="category">Global Perspective</h2>
                                    
                                    <p class="lead">
                                        Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper
                                    </p>
                                    <p>
                                        bibendum bibendum. Duis tincidunt urna non pretium porta. Nam condimentum vitae ligula vel ornare. 
                                        Phasellus at semper turpis. Nunc eu tellus tortor. Etiam at condimentum nisl
                                    </p>
                                    <p>
                                        Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper bibendum bibendum. 
                                        Duis tincidunt urna non pretium porta. Nam condimentum vitae ligula vel ornare. Phasellus at semper 
                                        turpis. Nunc eu tellus tortor. Etiam at condimentum nisl
                                    </p>
                                </div>

                                <div class="col-md-4">
                                    <figure>
                                        <img class="img-responsive">
                                    </figure>
                                    <h2 class="category">Global Perspective</h2>

                                    <p class="lead">
                                        Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper
                                    </p>
                                    <p>
                                        bibendum bibendum. Duis tincidunt urna non pretium porta. Nam condimentum vitae ligula vel ornare. 
                                        Phasellus at semper turpis. Nunc eu tellus tortor. Etiam at condimentum nisl
                                    </p>
                                    <p>
                                        Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper bibendum bibendum. 
                                        Duis tincidunt urna non pretium porta. Nam condimentum vitae ligula vel ornare. Phasellus at semper 
                                        turpis. Nunc eu tellus tortor. Etiam at condimentum nisl
                                    </p>
                                </div>

                                <div class="col-md-4">
                                    <figure>
                                        <img class="img-responsive">
                                    </figure>
                                    <h2 class="category">Global Perspective</h2>

                                    <p class="lead">
                                        Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper
                                    </p>
                                    <p>
                                        bibendum bibendum. Duis tincidunt urna non pretium porta. Nam condimentum vitae ligula vel ornare. 
                                        Phasellus at semper turpis. Nunc eu tellus tortor. Etiam at condimentum nisl
                                    </p>
                                    <p>
                                        Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper bibendum bibendum. 
                                        Duis tincidunt urna non pretium porta. Nam condimentum vitae ligula vel ornare. Phasellus at semper 
                                        turpis. Nunc eu tellus tortor. Etiam at condimentum nisl
                                    </p>
                                </div>
                            </section>






                            <section class="row full-image">
                                <div class="col-sm-12">
                                    <img class="img-responsive">
                                </div>
                            </section>

                            <section class="row journalists">

                                <div class="col-md-4">
                                    <h2>
                                        <span>Our Journalists and videographers</span> latea dictu Vivamus adipiscing ferment
                                    </h2>
                                </div>

                                <div class="col-md-4">
                                    <p>
                                        Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper bibendum 
                                        bibendum. Duis tincidunt urna non pretium porta. Nam condimentum vitae ligula vel ornare. 
                                        hasellus at semper turpis. Nunc eu tellus tortor. Etiam at condimentum nisl, Global 
                                        Perspective, Hotspots, Solutions uis nulla commodo
                                    </p>
                                </div>

                                <div class="col-md-4">
                                    <p>
                                        Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper bibendum 
                                        bibendum. Duis tincidunt urna non pretium porta. Nam condimentum vitae ligula vel ornare. 
                                        hasellus at semper turpis. Nunc eu tellus tortor. Etiam at condimentum nisl, Global 
                                        Perspective, Hotspots, Solutions uis nulla commodo
                                    </p>
                                </div>
                            </section>



                            <section class="row hotspots">
                                
                                <div class="col-sm-12 hotspot">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <figure>
                                                <img class="img-responsive">
                                            </figure>
                                        </div>

                                        <div class="col-md-8">
                                            <h2>The Americas</h2>
                                            <p>
                                                Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper 
                                                bibendum bibendum. Duis tincidunt urna non pretium porta. Nam condimentum 
                                                vitae ligula vel ornare. Phasellus at semper turpis. Nunc eu tellus tortor. 
                                                Etiam at condimentum nisl
                                            </p>
                                            <p>
                                                Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper 
                                                bibendum bibendum. Duis tincidunt urna non pretium porta. Nam condimentum vitae 
                                                ligula vel ornare. Phasellus at semper turpis. Nunc eu tellus tortor. Etiam at 
                                                condimentum nisl …    LEARN MORE
                                            </p>
                                        </div>

                                    </div>
                                </div>
                                
                                <div class="col-sm-12 hotspot">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <figure>
                                                <img class="img-responsive">
                                            </figure>
                                        </div>

                                        <div class="col-md-8">
                                            <h2>The Middle East</h2>
                                            <p>
                                                Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper 
                                                bibendum bibendum. Duis tincidunt urna non pretium porta. Nam condimentum 
                                                vitae ligula vel ornare. Phasellus at semper turpis. Nunc eu tellus tortor. 
                                                Etiam at condimentum nisl
                                            </p>
                                            <p>
                                                Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper 
                                                bibendum bibendum. Duis tincidunt urna non pretium porta. Nam condimentum vitae 
                                                ligula vel ornare. Phasellus at semper turpis. Nunc eu tellus tortor. Etiam at 
                                                condimentum nisl …    LEARN MORE
                                            </p>
                                        </div>

                                    </div>
                                </div>


                                <div class="col-sm-12 hotspot">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <figure>
                                                <img class="img-responsive">
                                            </figure>
                                        </div>

                                        <div class="col-md-8">
                                            <h2>South East Asia</h2>
                                            <p>
                                                Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper 
                                                bibendum bibendum. Duis tincidunt urna non pretium porta. Nam condimentum 
                                                vitae ligula vel ornare. Phasellus at semper turpis. Nunc eu tellus tortor. 
                                                Etiam at condimentum nisl
                                            </p>
                                            <p>
                                                Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper 
                                                bibendum bibendum. Duis tincidunt urna non pretium porta. Nam condimentum vitae 
                                                ligula vel ornare. Phasellus at semper turpis. Nunc eu tellus tortor. Etiam at 
                                                condimentum nisl …    LEARN MORE
                                            </p>
                                        </div>

                                    </div>
                                </div>


                                <div class="col-sm-12 hotspot">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <figure>
                                                <img class="img-responsive">
                                            </figure>
                                        </div>

                                        <div class="col-md-8">
                                            <h2>The Southern Sahara</h2>
                                            <p>
                                                Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper 
                                                bibendum bibendum. Duis tincidunt urna non pretium porta. Nam condimentum 
                                                vitae ligula vel ornare. Phasellus at semper turpis. Nunc eu tellus tortor. 
                                                Etiam at condimentum nisl
                                            </p>
                                            <p>
                                                Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper 
                                                bibendum bibendum. Duis tincidunt urna non pretium porta. Nam condimentum vitae 
                                                ligula vel ornare. Phasellus at semper turpis. Nunc eu tellus tortor. Etiam at 
                                                condimentum nisl …    LEARN MORE
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </section>


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>